#main-canvas {
	width: 600px;
	height: 450px;
}
.muted {
	font-weight: bold;	
}
body, a {
	background-color: rgb(0, 0, 0);
	font-family: 'Calibri';
	color: rgb(255, 255, 255);
}
#stats {
	color: rgb(255, 255, 255);
}